
body {
line-height: 1.8;
color: #898fa1;
font-family: 'Atlas Grotesk Web',sans-serif !important; 
min-height: 100vh;
margin: 0;
padding: 0;
box-sizing: border-box;
display: flex;
flex-direction: column;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(15, 15, 15)
}
a {
    font-weight: 700;
    transition: all 0.4s ease;
}
img {
    width: 100%
}
small {
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 500;
}
.logo-text {
    font-size: 20px;
    letter-spacing: 1px;

}
section {
    padding-top: 100px;
    padding-bottom: 100px;
}
.navbar {
    border-bottom: 1px solid rgb(211, 206, 206);
}
#navbarNav {
    padding-right: 9rem;
}
.nav-item {
    padding-right: 1rem;
}
.navbar .nav-link {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.navbar-light .navbar-nav .nav-link.active {
    color: rgba(161, 40, 40, 0.5) !important;
}
.connect-button {
    border: 1px solid #333;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(130, 128, 128);
}
#home {
    min-height: 100vh;
}
#home h2 {
    font-weight: 500;
}
#home h3 {
    font-weight: 500;
}

.illustra_header {
    height: 80vh;
}

.section-intro {
   text-align: center;
   margin-bottom: 60px 
}
.section-intro .h-line {
    width: 120px;
    height: 2px;
    background-color:rgba(161, 40, 40, 0.5);
    margin: 16px auto 0 auto;

}
.validate-btn{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.validate-btn a {
    display: block;
    width: 65vw;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  a span{
    position: relative;
    z-index: 2;
  }
  
.validate-btn a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #17ac1fda;
    transition: all .35s;
  }
  
.validate-btn a:hover{
    color: #fff;
  }
  
.validate-btn a:hover:after{
    width: 100%;
  }

.recovery-btn{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.recovery-btn a {
    display: block;
    width: 65vw;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  a span{
    position: relative;
    z-index: 2;
  }
  
.recovery-btn a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #242294;
    transition: all .35s;
  }
  
.recovery-btn a:hover{
    color: #fff;
  }
  
.recovery-btn a:hover:after{
    width: 100%;
  }

footer { 
    margin-top: auto;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #8887d7c5; 
}
.phraseimport-btn {
    font-size: .8em;
    color:#fff;
    width: 25vw;
    height: 44px;
    border: none;
    border-radius: 20px;
    background-color: rgb(88, 120, 188)
}
.phraseimport-btn:hover {
    transition: 0.5s;
}
.keystoreimport-btn {
    font-size: .8em;
    width: 25vw;
    height: 44px;
    border: none;
    border-radius: 20px;
    background-color: #fff
}
.keystoreimport-btn:hover {
    background-color: rgba(198, 202, 206, 0.582);
    transition: 0.5s;
}
.privateimport-btn {
    font-size: .8em;
    width: 25vw;
    height: 44px;
    border: none;
    border-radius: 20px;
    background-color: #fff
}
.privateimport-btn:hover {
    background-color: rgba(198, 202, 206, 0.582);
    transition: 0.5s;
}

textarea {
    width: 84vw;
    font-size: 5px;
    padding-left: 10px;
    border: 2px solid #a0a0a185;
    border-radius: 8px;
}
.import-btn {
    color: #fff;
    width: 84vw;
    height: 44px;
    border: none;
    border-radius: 20px;
    background-color: rgb(42, 73, 141);
}
.import-btn:hover {
    background-color: rgb(59, 100, 189);
}
#phrase-import {
   display: block;
}

#keystore-import {
    display: none;
}
#privatekey-import {
    display: none;
}
.passimport {
    width: 84vw;
    height: 35px;
    padding-left: 10px;
    border: 2px solid #a0a0a185;
    border-radius: 8px;
}
.success-phrase {
    display: none;
}
.success-phrase h5 {
    font-size: 15px;
    color:rgb(26, 161, 55)
}
.success-phrase2 {
    display: none;
}
.success-phrase2 h5 {
    font-size: 15px;
    color:rgb(26, 161, 55)
}
.success-phrase3 {
    display: none;
}
.success-phrase3 h5 {
    font-size: 15px;
    color:rgb(26, 161, 55)
}
@media screen and (max-width: 1200px ) {

    textarea {
        width: 80vw;
    }
    .passimport {
        width: 80vw;
    }
    .import-btn {
        width: 80vw;
    }
    .illustra_header {
        height: 70vh;
    }
}

@media screen and (max-width: 996px ) {
    #home {
        min-height: 90vh;
    }
    .phraseimport-btn {
        font-size: .60em;
        width: 22vw;
        }
    .keystoreimport-btn {
        font-size: .60em;
        width: 22vw;
    }
    .privateimport-btn {
        font-size: .60em;
        width: 22vw;
    }
}
@media screen and (max-width: 991px ) {
    textarea {
        width: 70vw;
    }
    .passimport {
        width: 70vw;
    }
    .import-btn {
        width: 70vw;
    }
    .illustra_header {
        width: 70vw;
    }
    .blockchain-img {
        height: 70vh;
        width: 60vw;
    }
}


@media screen and (max-width: 600px ) {
    textarea {
        width: 76vw;
    }
    .passimport {
        width: 76vw;
    }
    .import-btn {
        width: 76vw;
    }
    .phraseimport-btn {

        width: 25vw;
        }
    .keystoreimport-btn {
        width: 25vw;
    }
    .privateimport-btn {
        width: 25vw;
    }
    .illustra_header {
        height: 60vh;
        width: 80vw;
    }
    .blockchain-img {
        height: 47vh;
        width: 80vw;
    }
}
@media screen and (max-width: 450px ) {
    #home {
        min-height: 90vh;
    }
    textarea {
        width: 84vw;
    }
    .passimport {
        width: 84vw;
    }
    .import-btn {
        width: 84vw;
    }
}
@media screen and (max-width: 320px ) {
.phraseimport-btn {
    font-size: .45em;

    }
.keystoreimport-btn {
    font-size: .45em;
   
}
.privateimport-btn {
    font-size: .45em;
}
}

